body {
    margin:0;
}
#mainbody {
    background-color: whitesmoke;
}
#header {
    margin-top: 10px;
    height: 50px;
    width:400px;
    background-color: #00f564;
    text-align: center;
    padding-top: 30px;
    font-size: 24px;
}
#along {
    display: flex;
}
.menu {
    margin-top: 10px;
    height: 165px;
    width:150px;
    background-color: hotpink;
    text-align: center;
    font-size: 24px;
    padding-top:100px;
}
.post1   {
    margin-top: 10px;
    margin-left: 10px;
    height: 80px;
    width: 240px;
    background-color: deepskyblue;
    text-align: center;
    font-size: 24px;
    padding-top: 45px;
}
.post2 {
    margin-top: 15px;
    margin-left: 15px;
    height: 80px;
    width: 240px;
    background-color: deepskyblue;
    text-align: center;
    font-size: 24px;
    padding-top: 45px;
}
#footer {
    margin-top: 10px;
    height: 50px;
    width: 400px;
    background-color: #00ec5b;
    text-align: center;
    font-size: 24px;
    padding-top: 25px;
}